@use "assets/styles/variables";
@use "assets/styles/fonts";
@use "assets/styles/mixins-text";

// Vertical Alignment
.g-align-items-start {
  align-items: flex-start;
}
.g-align-items-center {
  align-items: center;
}
.g-align-items-end {
  align-items: flex-end;
}

// Horizontal Alignment
.g-justify-content-start {
  justify-content: flex-start;
}
.g-justify-content-center {
  justify-content: center;
}
.g-justify-content-end {
  justify-content: flex-end;
}
.g-justify-content-between {
  justify-content: space-between;
}


// Text Style
.g-style-text{
  font-family: $font-family-montserrat;
  font-size: $font-text;
  font-weight: 400;
}

.g-style-text-gold{
  color: $color-accent;
}

.g-style-text-center{
  text-align: center;
}

.g-style-h2{
  font-family:$font-family-playfair ;
  font-weight: 400;
  @include responsive-headline($font-lg, $font-lg);
}